<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Website Price Filter	</h2>
        <h3 class="oe_slogan">Filter Product As Per Your Price Range.</h3>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
				<img src="first.png" alt="Online Demo">
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
                Install Website Price Filter Using Install Button On The Module.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <div class="oe_span6">
            <p class='oe_mt32'>
                Choose The Skin You Want To For The Price Filter.
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="second.png">
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row">
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="Third.png">
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>Enable The Price Filter From Customize Menu At Shop Page.
            </p>
        </div>
    </div>
</section>


<section class="oe_container oe_dark">
    <div class="oe_row">
       <div class="oe_span6">
            <p class='oe_mt32'>
Find Price Filter With Your Choosen SKin.
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture" src="forth.png">
        </div>

    </div>
</section>
<section class="oe_container">
            <div class="oe_row oe_spaced">
                <div class="oe_span12">
                    <h2 class="oe_slogan">Contact / Support</h2>
                </div>
                <div class="oe_span6">
                    <p class="oe_mt32">
                        Need help / Request New Feature <br> <b>Contact us on</b>
                    </p>
                    <ul class="list-group">
                        <li class="list-group-item ">E Mail : <a href="mailto:" contact="">sachinjani935@gmail.com</a></li>
                    </ul>
                </div>
            </div>
    </section>

